* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 800px;
    margin-inline: auto;
    margin-top: 4rem;
}

header {
    height: 4rem;
    background-color: coral;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
}

header .header-container {
    height: 100%;
    margin-inline: auto;
}

.gender-list {
    display: flex;
    height: 100%;
    list-style: none;
}

.gender-list a {
    display: flex;
    height: 100%;
    align-items: center;
    padding-inline: .3em;
    text-decoration: none;
    color: white;
}

.gender-list img {
    height: 1.5rem;
}

.container {
    display: flex;
    max-width: 800px;
}

.image {
    flex: 0 1 30%;
    height: 400px;
    margin-top: 20px;
    margin-right: 1rem;
}

.red-price {
    color: red;
}