* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-top: 4rem;
}

.max-width {
    max-width: 880px;
    margin-inline: auto;
}

header {
    height: 4rem;
    background-color: coral;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    z-index: 100;
}

header .header-container {
    height: 100%;
    margin-inline: auto;
}

.gender-list {
    display: flex;
    height: 100%;
    list-style: none;
}

.gender-list a {
    display: flex;
    height: 100%;
    align-items: center;
    padding-inline: .3em;
    text-decoration: none;
    color: white;
}

.gender-list img {
    height: 1.5rem;
}

.container {
    display: flex;
    max-width: 800px;
    gap: 1rem;
}

.container > div {
    flex: 1 1 30%;
}
.image {
    width: 100%;
    margin-top: 20px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 1;
    transition: opacity 0.5s ease;
  }

  .position:hover .overlay {
    opacity: 1;
  }

.red-price {
    color: red;
}

.price {
    text-decoration: line-through;
}

.position {
    position: relative;
}

.sale {
    position: absolute;
    bottom: 30px;
    left: 0;
    background-color: red;
}

.green {
    position: absolute;
    bottom: 30px;
    left: 30px;
    background-color: green;
}

.only {
    position: absolute;
    bottom: 30px;
    left: 0px;
    background-color: green;
}

.favorites {
    position: absolute;
    right: 10px;
    top: 25px;
}